@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* dark mode */

:root {
  --font-color: #37352f;
  --background-color: #ffffff;
  --link-color: #73726f;
  --nav-color: #fbfbfa;
  --callout-background-color: #f1f1ef;
  --hover-background-color: #ebebea;
}

[data-theme='dark'] {
  --font-color: #d4d4d4;
  --background-color: #191919;
  --link-color: #9b9b9b;
  --nav-color: #202020;
  --callout-background-color: #252525;
  --hover-background-color: #2c2b2d;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

a {
  color: var(--link-color);
}

span {
  color: var(--link-color);
}

nav {
  background-color: var(--nav-color);
}

#callOut {
  background-color: var(--callout-background-color);
}

a:hover {
  background-color: var(--hover-background-color);
}

#clickedBtn {
  background-color: var(--hover-background-color);
}
